//Colors

$clr-DarkCyan: hsl(158, 36%, 37%);
$clr-Cream: hsl(30, 38%, 92%);
$clr-VeryDarkBlue: hsl(212, 21%, 14%);
$clr-DarkGrayishBlue: hsl(228, 12%, 48%);
$clr-White: hsl(0, 0%, 100%);

//Font Weights

$fontWeightBold: 700;
$fontWeightRegular: 500;

//Font families

$font-family-Primary: 'Montserrat', sans-serif;
$font-family-Accent: 'Fraunces', serif;
